<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" href="/img/machine.png" type="image/x-icon" />
        <title>Scores</title>
    </head>
    <body class="bg-[url('/img/background.png')] bg-cover bg-center bg-no-repeat h-screen font-regular text-white">
        <header class="flex justify-center pt-10 gap-4">
            <a href="/accueil" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Accueil</a>
            <a href="/scores" class="flex justify-center rounded-md bg-yellow-400 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-yellow-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Scores</a>
            <a href="/memory" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Memory</a>
            <a href="/catcher" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Catcher</a>
            <a href="/cashier" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Cashier</a>
            <a href="/profil" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]"><%= user.username %></a>
        </header>
        <div class="flex flex-col justify-center pt-32">
            <div class="mx-auto w-full max-w-3xl border-2 border-black bg-white text-gray-900 p-8 rounded-lg">
                <h2 class="text-center text-3xl font-bold tracking-tight">Scores</h2>

                <div class="flex justify-between">
                    <div class="mt-6 flex flex-col gap-4">
                        <table class="text-left border-collapse border border-gray-500">
                            <thead>
                                <tr>
                                    <th class="border border-gray-500 px-4 py-2">Username</th>
                                    <th class="border border-gray-500 px-4 py-2">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% scores.jeu1.forEach((score) => { %>
                                <tr>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.username %></td>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.score %></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-6 flex flex-col gap-4">
                        <table class="text-left border-collapse border border-gray-500">
                            <thead>
                                <tr>
                                    <th class="border border-gray-500 px-4 py-2">Username</th>
                                    <th class="border border-gray-500 px-4 py-2">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% scores.jeu2.forEach((score) => { %>
                                <tr>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.username %></td>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.score %></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-6 flex flex-col gap-4">
                        <table class="text-left border-collapse border border-gray-500">
                            <thead>
                                <tr>
                                    <th class="border border-gray-500 px-4 py-2">Username</th>
                                    <th class="border border-gray-500 px-4 py-2">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% scores.jeu3.forEach((score) => { %>
                                <tr>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.username %></td>
                                    <td class="border border-gray-500 px-4 py-2"><%= score.score %></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
